@model IEnumerable<GoodSamaritan.Models.ClientModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AbuserRelationship.AbuserRelationship)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssignedWorker.AssignedWorker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Crisis.Crisis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DuplicateFile.DuplicateFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ethnicity.Ethnicity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyViolenceFile.FamilyViolenceFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FiscalYear.FiscalYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Incident.Incident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.Program)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralContact.ReferralContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferralSource.ReferralSource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepeatClient.RepeatClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskLevel.RiskLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskStatus.RiskStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmartModel.ClientReferenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusOfFile.StatusOfFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VictimOfIncident.VictimOfIncident)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliceFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourtFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SWCFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskAssessmentAssignedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbuserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumChildren0_6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumChildren7_12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumChildren13_18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastTransferred)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReOpened)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AbuserRelationship.AbuserRelationship)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignedWorker.AssignedWorker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Crisis.Crisis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DuplicateFile.DuplicateFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ethnicity.Ethnicity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyViolenceFile.FamilyViolenceFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FiscalYear.FiscalYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Incident.Incident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.Program)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralContact.ReferralContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferralSource.ReferralSource)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepeatClient.RepeatClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskLevel.RiskLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskStatus.RiskStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Service.Service)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmartModel.ClientReferenceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusOfFile.StatusOfFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VictimOfIncident.VictimOfIncident)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourtFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SWCFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskAssessmentAssignedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbuserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumChildren0_6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumChildren7_12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumChildren13_18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastTransferred)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReOpened)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientReferenceNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientReferenceNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientReferenceNumber })
        </td>
    </tr>
}

</table>
