@model GoodSamaritan.Models.SmartModel

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}
@**
<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>SmartModel</h4>
        <hr />**@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.WorkExploitationId, "WorkExploitationId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WorkExploitationId", null, htmlAttributes: new { @class = "form-control" , ng_model="smartFormInfo.WorkExploitation"})
                @Html.ValidationMessageFor(model => model.WorkExploitationId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MultiplePErpetratorsId, "MultiplePErpetratorsId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MultiplePErpetratorsId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.MultiplePerpetrators" })
                @Html.ValidationMessageFor(model => model.MultiplePErpetratorsId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DrugFaciliatedAssaultID, "DrugFaciliatedAssaultID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DrugFaciliatedAssaultID", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.DrugFacilitatedAssault" })
                @Html.ValidationMessageFor(model => model.DrugFaciliatedAssaultID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityOfAssaultId, "CityOfAssaultId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CityOfAssaultId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.CityOfAssault" })
                @Html.ValidationMessageFor(model => model.CityOfAssaultId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CityOfResidenceId, "CityOfResidenceId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CityOfResidenceId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.CityOfResidence" })
                @Html.ValidationMessageFor(model => model.CityOfResidenceId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccompanimentMinutes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccompanimentMinutes, new { htmlAttributes = new { @class = "form-control", ng_model="smartFormInfo.AccompanimentMinutes" } })
                @Html.ValidationMessageFor(model => model.AccompanimentMinutes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReferralHospitalId, "ReferralHospitalId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReferralHospitalId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.ReferralHospital" })
                @Html.ValidationMessageFor(model => model.ReferralHospitalId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HospitalAttendedId, "HospitalAttendedId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HospitalAttendedId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.HospitalAttended" })
                @Html.ValidationMessageFor(model => model.HospitalAttendedId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SocialWorkAttendanceId, "SocialWorkAttendanceId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SocialWorkAttendanceId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.SocialWorkAttendance" })
                @Html.ValidationMessageFor(model => model.SocialWorkAttendanceId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliceAttendanceID, "PoliceAttendanceID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PoliceAttendanceID", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.PoliceAttendance" })
                @Html.ValidationMessageFor(model => model.PoliceAttendanceID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VictimServicesId, "VictimServicesId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VictimServicesId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.VictinServices" })
                @Html.ValidationMessageFor(model => model.VictimServicesId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MedicalOnlyId, "MedicalOnlyId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MedicalOnlyId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.MedicalOnly" })
                @Html.ValidationMessageFor(model => model.MedicalOnlyId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EvidenceStoredId, "EvidenceStoredId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EvidenceStoredId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.EvidenceStored" })
                @Html.ValidationMessageFor(model => model.EvidenceStoredId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HIVMedsId, "HIVMedsId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HIVMedsId", null, htmlAttributes: new { @class = "form-control" , ng_model="smartFormInfo.HIVMeds"})
                @Html.ValidationMessageFor(model => model.HIVMedsId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReferredToCBVSId, "ReferredToCBVSId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ReferredToCBVSId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.ReferredToCBVS" })
                @Html.ValidationMessageFor(model => model.ReferredToCBVSId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliceReportedId, "PoliceReportedId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PoliceReportedId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.PoliceReported" })
                @Html.ValidationMessageFor(model => model.PoliceReportedId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThirsPartyReportId, "ThirsPartyReportId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ThirsPartyReportId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.ThirdPartyReport" })
                @Html.ValidationMessageFor(model => model.ThirsPartyReportId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BadDateReportId, "BadDateReportId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BadDateReportId", null, htmlAttributes: new { @class = "form-control", ng_model="smartFormInfo.BadDateReport" })
                @Html.ValidationMessageFor(model => model.BadDateReportId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberTransportsProvided, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberTransportsProvided, new { htmlAttributes = new { @class = "form-control", ng_model="smartFormInfo.NumberTransportsProvided" } })
                @Html.ValidationMessageFor(model => model.NumberTransportsProvided, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReferredToNursePractitioner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ReferredToNursePractitioner, new { htmlAttributes = new { ng_model = "smartFormInfo.ReferredToNursePractitioner" } })
                    @Html.ValidationMessageFor(model => model.ReferredToNursePractitioner, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
@*
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
*@
