@model IEnumerable<GoodSamaritan.Models.SmartModel>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SmartModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BadDateReport.BadDateReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadDateReport.BadDateReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfAssault.CityOfAssault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfAssault.CityOfAssault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityOfResidence.CityOfResidence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityOfResidence.CityOfResidence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrugFaciliatedAssault.DrugFacilitatedAssault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugFaciliatedAssault.DrugFacilitatedAssault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvidenceStored.EvidenceStored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvidenceStored.EvidenceStored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HIVMeds.HIVMeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HIVMeds.HIVMeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalAttended.HospitalAttended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalAttended.HospitalAttended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalOnly.MedicalOnly)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalOnly.MedicalOnly)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MultiplePerpetrators.MultiplePerpetrators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MultiplePerpetrators.MultiplePerpetrators)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceAttendance.PolicAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceAttendance.PolicAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoliceReported.PolicReported)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoliceReported.PolicReported)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferralHospital.ReferralHospital)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferralHospital.ReferralHospital)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToCBVS.ReferredCBVS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToCBVS.ReferredCBVS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialWorkAttendance.SocialWorkAttendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialWorkAttendance.SocialWorkAttendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdPartyReport.ThirdPartyReport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdPartyReport.ThirdPartyReport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VictimServices.VictimServices)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VictimServices.VictimServices)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkExploitation.SexWorkExploitation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkExploitation.SexWorkExploitation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccompanimentMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccompanimentMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberTransportsProvided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberTransportsProvided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToNursePractitioner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToNursePractitioner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientReferenceNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
