@model IEnumerable<GoodSamaritan.Models.LookupTables.RepeatClientModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RepeatClient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RepeatClient)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RepeatClientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RepeatClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RepeatClientId })
        </td>
    </tr>
}

</table>
