<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Samaritan</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Good Samaritan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <nav id="topNav">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        @{ if (User.IsInRole("Administrator"))
                         {
                            <li>
                                @Html.ActionLink("User/Roles Management", "Index", "UserManage")
                            </li>
                            <li>

                                <a>Lookup Tables</a>
                                <ul style="width: 200px;background: #772953;list-style-type:none;border-bottom-left-radius: 10px;">
                                    <li>@Html.ActionLink("Abuser Relationship", "Index", "AbuserRelationshipModels")</li>
                                    <li>@Html.ActionLink("Age", "Index", "AgeModels")</li>
                                    <li>@Html.ActionLink("Assigned Worker", "Index", "AssignedWorkerModels")</li>
                                    <li>@Html.ActionLink("Crisis ", "Index", "CrisisModels")</li>
                                    <li>@Html.ActionLink("Duplicate File", "Index", "DuplicateFileModels")</li>
                                    <li>@Html.ActionLink("Ethnicity", "Index", "EthnicityModels")</li>
                                    <li>@Html.ActionLink("Family Violence", "Index", "FamilyViolenceModels")</li>
                                    <li>@Html.ActionLink("Fiscal Year", "Index", "FiscalYearModels")</li>
                                    <li>@Html.ActionLink("Incident", "Index", "IncidentModels")</li>
                                    <li>@Html.ActionLink("Program", "Index", "ProgramModels")</li>
                                    <li>@Html.ActionLink("Referral Contact", "Index", "ReferralContactModels")</li>
                                    <li>@Html.ActionLink("Referral Source", "Index", "ReferralSourceModels")</li>
                                    <li>@Html.ActionLink("Repeat Client", "Index", "RepeatClientModels")</li>
                                    <li>@Html.ActionLink("Risk Level", "Index", "RiskLevelModels")</li>
                                    <li>@Html.ActionLink("Risk Status", "Index", "RiskStatusModels")</li>
                                    <li>@Html.ActionLink("Service", "Index", "ServiceModels")</li>
                                    <li>@Html.ActionLink("Status of File", "Index", "StatusOfFileModels")</li>
                                    <li>@Html.ActionLink("Victim of Incident", "Index", "VictimOFIncidentModels")</li>


                                    <li>@Html.ActionLink("Bad Date Report", "Index", "BadDateReportModels")</li>
                                    <li>@Html.ActionLink("City Of Assault", "Index", "CityOfAssaultModels")</li>
                                    <li>@Html.ActionLink("City Of Residence", "Index", "CityOfResidenceModels")</li>
                                    <li>@Html.ActionLink("Drug Facilitated Assault", "Index", "DrugFacilitatedAssaultModels")</li>
                                    <li>@Html.ActionLink("Evidence Stored", "Index", "EvidenceStoredModels")</li>
                                    <li>@Html.ActionLink("HIV Meds", "Index", "HIVMedsModels")</li>
                                    <li>@Html.ActionLink("Hospital Attended", "Index", "HospitalAttendedModels")</li>
                                    <li>@Html.ActionLink("Medical Only", "Index", "MedicalOnlyModels")</li>
                                    <li>@Html.ActionLink("Multiple Perpetrators", "Index", "MultiplePerpetratorsModels")</li>
                                    <li>@Html.ActionLink("Police Attendance", "Index", "PoliceAttendanceModels")</li>
                                    <li>@Html.ActionLink("Police Reported", "Index", "PoliceReportedModels")</li>
                                    <li>@Html.ActionLink("Referral Hospital", "Index", "ReferralHospitalModels")</li>
                                    <li>@Html.ActionLink("Referral CBVS", "Index", "ReferredCBVSModels")</li>
                                    <li>@Html.ActionLink("Social Work Attendance", "Index", "SocialWorkAttendanceModels")</li>
                                    <li>@Html.ActionLink("Third Party Report", "Index", "ThirdPartyReportModels")</li>
                                    <li>@Html.ActionLink("Victim Services", "Index", "VictimServicesModels")</li>
                                    <li>@Html.ActionLink("Work Exploitation", "Index", "Work_ExploitationModel")</li>
                                </ul>
                            </li>
                         }
                        }

                    </ul>
                </nav>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script>
    function goToNewPage(dropdownlist) {
        var url = dropdownlist.options(dropdownlist.selectedIndex).value;
        if (url != "") {
            window.open(url);
        }
    }


    var nav = $("#topNav");

    //add indicators and hovers to submenu parents
    nav.find("li").each(function () {
        if ($(this).find("ul").length > 0) {

            $("<span>").text("^").appendTo($(this).children(":first"));

            //show subnav on hover
            $(this).click(function () {
                $(this).find("ul").stop(true, true).slideToggle();
            });
        }
    });
    </script>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
